@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


header {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    justify-items: center;
    align-items: center;
    background-color: rgb(243, 237, 241) ; 
}
.logo {
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 5px;
}
.titulo {
    font-family:'Pacifico', cursive;
    font-size: 80px;
    text-align: center;
    color: indigo;
    width: 50%;
    margin: 10px;
}
.redes1 {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
    width: 25%;
    padding: 10px;
    background-color: #CCD1D1;
}
body {
    background: cornsilk url(../imagenes/fondo.jpg) ;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
    color:deeppink;
    font-style: oblique;
    font-weight: bold;
}

h2 {
    color:rgb(165, 121, 207);
    font-size: 200%;
    text-decoration-line: underline;
    font-family: 'Poor Story', cursive;
}
p {
    color: rgb(50, 8, 78);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img {
    width: 40%;
}
.gyoza {
    width: 35vw;
}
h3 {
    color: palevioletred;
}
.que {
    text-align: center;
}
.centro {
    text-align: center;
}
.iconowhat {
    width: 60px;
    /* width: 7%; */
    position: fixed;
    bottom: 10px;
    right: 15px;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(182, 179, 177);
    height: 220px;
}
.redes {
    height: 50px; 
    width: 50px;
    margin: 5px;
}
.infopersonal h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: papayawhip;
}