@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


header {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* justify-items: center; */
    align-items: center;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    min-height: 20vh;
}
.logo {
    display: flex;
    justify-content: center;
    margin: 5px;
    /* width: 25%; */
}
.titulo {
    font-family:'Pacifico', cursive;
    font-size: 80px;
    text-align: center;
    color: indigo;
    width: 50%;
    margin: 10px;
}
.redes1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    align-items: center;
    width: 25%;
    padding: 10px;
}
body {
    background-color: rgb(250, 246, 241);
    align-items: center;
    margin: 0%;
}
.modo {
    margin: 0.5rem;
    border-radius: 2px ;
}
nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #9face6;
    font-weight: bold;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.6rem;
}
a:hover {
    color:deeppink;
    font-style: oblique;
    font-weight: bold;
}


/* modo nocturno */
.switch{
    position: relative;
    width: 3.5rem;
    height: 2rem;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(215, 215, 228);
    transition: 0.4s;
    border-radius: 30px;
}
.slider::before{
    position: absolute;
    content: "";
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 20px;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    transition: 0.4s;
}
input:checked + .slider{
    background-color: #37393f;
}
input:checked + .slider::before{
    left: calc(100% - 1.7rem);
    background: #37393f;
    box-shadow: 
    inset -3px -2px 5px -2px #8983f7,
    inset -10px -4px 0 0 #a3dafb;
}
body.dark {
    background-color: #212121;
    color:#f5f5f5;
}
.dark p {
    color:#f5f5f5;
}
.dark h2 {
    color:#f5f5f5;
}
.dark h5 {
    color:#212121;
}


.mainbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-items: center; */
}
h2 {
    color:rgb(33, 5, 59);
    font-size: 2.6rem;
    text-decoration-line: underline;
    font-family: 'Poor Story', cursive;
}
p {
    color: rgb(50, 8, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}
img {
    width: 40%;
    border-radius: 10px;
}
.gyoza {
    width: 30vw;
}
h3 {
    color: palevioletred;
}
.iconowhat {
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 15px;
}
main {
    width: 65%;
    padding: 3rem;
}
aside {
    padding-top: 10rem;
    width: 30%;
    margin: 2rem;
}
aside a {
    text-decoration: none;
    margin: 1rem;
    font-size: 20px;
}
.card {
    margin: 2vh;
    border-radius: 15px;
    box-shadow: 0px 1px 10px rgb(197, 186, 204) ;
}
.card:hover {
    box-shadow: 5px 5px 20px rgb(95, 90, 99);
    transform: translateY(-4%);
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(206, 205, 205);
    padding-top: 1.5rem;
}
.redes {
    height: 50px;
    width: 50px;
    margin: 5px;
}
.btn btn-light{
    border-radius: 5px;
}

@media (max-width: 575px){
    .zen {
        display: none;
    }
}
@media (max-width: 768px){
    header, footer{
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    body {
        background-image: none;
    }
}
@media (max-width: 900px) {
    nav {
        background-color: #e7f7f4;
        font-size: 20px;
    }
}
@media (max-width: 600px) {
    .dibujo {
        display: none;
    }
} 